.genres {
    display: flex;
    gap: 5px;
    .genre {
        background-color: var(--orange);
        padding: 3px 7px;
        font-size: 12px;
        border-radius: 9px;
        color: black;
        white-space: nowrap;
    }
}